<div class="ui fluid vertical menu">
  <div class="item">
    <div ng-click="showAllShows = !showAllShows" class="ui blue labeled icon top right pointing fluid dropdown button">
      <i ng-show="!showAllShows" class="triangle down icon"></i>
      <i ng-show="showAllShows" class="triangle up icon"></i>
      <span class="text">{{ selectedShow || 'Select show...' }}</span>
    </div>
  </div>
  <div ng-show="showAllShows">
    <a class="item"
      ng-class="{ 'active teal': selectedShow === '' }"
      ng-click="selectShow('')">
      All
      <div class="ui label">{{ items.length }}</div>
    </a>
    <a ng-repeat="show in shows|orderBy:'toString()'"
      class="item"
      ng-class="{ 'active teal': $parent.selectedShow === show }"
      ng-click="selectShow(show)">
      {{ show }}
      <div class="ui label">{{ showCounts[show] }}</div>
    </a>
  </div>
  <div class="item">
    <div class="ui fluid icon input">
      <input type="text" ng-model="query" placeholder="Search {{ selectedShow || 'all' }}...">
      <i class="search icon"></i>
    </div>
  </div>
</div>
<div class="ui segment loading" ng-show="!items.length">
  <div class="ui active inverted dimmer">
    <div class="ui text loader">Loading</div>
  </div>
</div>
<div class="ui divided list" ng-show="items.length">
  <a target="_self" ng-repeat="item in items|filter:{ show: selectedShow }|filter:query|orderBy:'name'" href="{{ item.url }}" class="item">
    <div class="content">
      <div class="header">{{ item.name }}</div>
      <span>{{ item.show }}<span ng-show="item.season"> - {{ item.season }}</span></span>
    </div>
  </a>
</div>
